.pricingSection {
  background-color: #fff;
  padding: 4rem 2rem;
  font-family: var(--font-space-grotesk), "Space Grotesk", sans-serif;
  text-align: center;
}

.header {
  margin: 0 auto 3rem;
}

.header h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #000;
}

.header p {
  max-width: 35rem;
  margin: 0 auto;
  color: #000;
  font-size: 1rem;
  line-height: 1.6;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

/* === Guarantee Box === */
.guaranteeBox {
  background-color: #fff8f5;
  border: 1px solid #f1e4df;
  border-radius: 0.1rem;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.guaranteeText h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #000;
}

.guaranteeText p {
  font-size: 0.95rem;
  color: #000;
  line-height: 1.6;
}

.highlight {
  color: #ff4c00;
  font-weight: 600;
}

.guaranteeLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff4c00;
  font-weight: 600;
}

.guaranteeIcon {
  font-size: 2rem;
}

@media (max-width: 900px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }

  .guaranteeBox {
    text-align: center;
    gap: 1.5rem;
  }
}
